html {
    height: 100%
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    /*background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    */
}

/*@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
*/

* {
    font-family: Arial, Helvetica, sans-serif;
}
.header_block {
    position: absolute;
    width: 100vw;
    height: 50px;
    background-image: url("berserk-c.jpeg");
    animation: header_anim 120s linear infinite;
    text-align:right;    
}

@keyframes header_anim {
    0% {
        background-position: 100% 100%;
    }
    50% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 100%;
    }

}

.header_block h2 {
    display: inline-block;
    color:#fff;
    background: linear-gradient(-45deg, #323232, #6b6b6b);
    margin-top: 7px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 0.3em;
    border-radius: 7px;
    font-size: 20px;
    font-weight:lighter;
    background-size: 400% 400%;
    animation: dnd 3s ease infinite;
    
}

@keyframes dnd {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.col-auto h2{
    margin: 35% 0 0 5%;
    color: navy;
    width: 150%;
}


.character-list {
    display: flex;
    flex: 1 1 0;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1.5% 5%;
}

.your_characters_box {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.character_details_box {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1 1 0;
    width: 100%;
    background-color: rgba(146, 140, 140, 0.698);
}

.create_character {
    position: absolute;
    bottom: 5%;
    left: 7%;
    width: 100vw;
}

/*
.btn-danger {
    display: hide;
}
*/

h3 {
    margin: 3% auto;
}