<div
  class="relative flex w-full max-w-[150px] h-full aspect-[2/3] attribute-frame p-2"
>
  <div class="flex flex-col justify-center w-full h-full">
    <p class="text-6xl text-center text-inherit">{{value}}</p>
    <p class="text-center">{{type}}</p>
  </div>
  {{! <button>up</button>
  <button>down</button> }}
</div>