<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <title>DnD Character Manager</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/app.css" />
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    ></script>
  </head>

  <body>
    <div class="h-screen grid grid-rows-[10%,_minmax(0,_1fr),_10%]">

      <header class="header_block flex-initial h-full">
        <div id="header_block">
          <h2>DnD CHARACTER MANAGER</h2>
        </div>

        {{! logged_in is defined on res.locals.logged_in // this is set in the withAuth middleware }}
      </header>
      <main class="flex-auto">

        {{{body}}}
      </main>
      <footer class="grid place-items-center flex-none px-8">

        {{#if logged_in}}
          <div class="flex relative justify-center h-12 w-fit gap-3">
            <img
              class="absolute w-full left-0 bottom-0 translate-y-1/2"
              src="/images/underline.png"
              alt=""
            />
            <a class="" href="/">
              <button class="sm:w-36 h-full px-3">
                Characters
              </button>
            </a>

            {{! <a class="btn btn-outline-primary" href="/settings">
              <button class="sm:w-36 h-full px-3">

                Settings
              </button>
            </a> }}
            <button
              class="sm:w-36 h-full place-self-end px-3"
              id="logout"
            >Logout</button>
            <script src="/js/logout.js"></script>

          </div>
        {{/if}}

        {{! Footer right }}
      </footer>
    </div>
  </body>

</html>