<!DOCTYPE html>
<html lang="en">

<<<<<<< Updated upstream
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DnD Character Manager</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
=======
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DnD Character Manager</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    ></script>
  </head>
>>>>>>> Stashed changes

<<<<<<< Updated upstream
<body>
    <header class="header_dnd">
      <h2>
        Dumbos and Donkeys Character Generator
      </h2>
=======
  <body>
    <header class="header_block">
    <div id="header_block">
     <h2>DUMBOS and DONKEYS CHARACTER MANAGER</h2>
    </div>
    
      {{! logged_in is defined on res.locals.logged_in // this is set in the withAuth middleware }}
      {{#if logged_in}}
        <button id="logout">logout</button>
        <script src="/js/logout.js"></script>
      {{/if}}
>>>>>>> Stashed changes
    </header>
        {{{ body}}}
    <footer>
      
    </footer>


  <!-- Render script for logged in users only -->

  <script src="/js/login.js"></script>
  <script src="/js/logout.js"></script>
  <script src="/js/create.js"></script>

</body>

</html>