<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Character</h3>

    <form class="form new-character-form">
      <div class="form-group">
        <label for="character-name">Name</label>
        <input class="form-input" type="text" id="character-name" name="character-name" />
      </div>
      <div class="form-group">
        <label for="character-class">Class</label>
        <input class="form-input" type="text" id="character-class" name="character-class" />
      </div>
      <div class="form-group">
        <label for="character-race">Race</label>
        <input class="form-input" type="text" id="character-race" name="character-race" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>