<div class="row">
  <div class="col-auto">
    <h2 class="text-cyan-700 mt-5 ml-3 text-3xl">Welcome, {{first_name}}!</h2>
  </div>
</div>

{{#if characters.length}}
  <div class="character-list flex flex-row flex-wrap my-10 mx-20">
    <div class="your_characters_box basis-1/4 mr-6">
      <h3 class="text-xl font-semibold">Your Characters</h3>
      <div
        id="characters"
        class="grid p-6 bg-violet-200 border-4 border-violet-300 bg-clip-content border-dashed mt-3"
      >

        {{#each characters as |character|}}
          <a class="text-xl border-2 py-3 px-5" href="/character/{{id}}">
            {{character.character_name}}
          </a>
        {{/each}}
      </div>
    </div>

    <div class="character_details_box basis-1/2 ml-20">
      <h3 class="text-center text-xl font-semibold">
        Currently Selected Character</h3>
    </div>

  </div>
{{/if}}

<div class="create_character absolute bottom-5 left-20">
  <a class="btn btn-outline-primary" type="submit" href="/create">Create a
    Character</a>
</div>