<div class="h-full">
  <div
    class="relative max-w-[800px] place-self-center p-[22%] mx-auto h-full sm:h-fit"
  >
    <img
      src="/images/login.jpg"
      class="absolute w-full h-full top-0 left-0 -z-10"
    />
    <div class="">
      <h1 class="text-5xl font-black">Login</h1>
      <form id="login-form" class="flex flex-col gap-5 mt-6" autocomplete="off">
        <div class="flex flex-col">
          <input
            class="form-input bg-zinc-800 text-slate-50"
            type="text"
            autocomplete="off"
            id="email-login"
            name=""
            required=""
          />
          <label for="email-login" class="text-2xl">Email</label>
        </div>
        <div class="flex flex-col">
          <input
            class="form-input bg-zinc-800 text-slate-50"
            type="password"
            autocomplete="off"
            id="password-login"
            name=""
            required=""
          />
          <label for="password-login" class="text-2xl">Password</label>
        </div>
        <div class="flex justify-between mt-6">
          <a class="w-full" href="/signup">
            <button class="sketch w-full p-2" type="button">

              Signup
            </button>
          </a>
          <button class="sketch w-full p-2" type="submit" href="#">
            Login
          </button>
        </div>

      </form>
    </div>
  </div>
  {{! <div class="guide w-">
    <h2>User Guide</h2>
    <p>Whether you are a veteran of the game or just learning how to create a
      DnD character, our character builder tool and digital character sheets
      make it easier than ever to play the game!
    </p>
  </div> }}
</div>

<script src="./js/login.js"></script>