<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{first_name}}!</h2>
  </div>
</div>

  {{#if characters.length}}
  <div class="col-md-6 project-list">
    <h3>Your Characters</h3>

    {{#each characters as |character|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/character/{{character.id}}">{{character.name}}</a></h4>
      </div>
    </div>
    <section class="character-details">
    {{> character-details}}
    </section>
    {{/each}}
  </div>
  {{/if}}
</div>


<script src="./js/profile.js"></script>
