<div class="signup-box">
  <h2>Signup</h2>
  <form class="signup-form">
    <div class="user-box">
      <input class="form-input" type="text" id="name-signup" name="" required=""/>
      <label for="name-signup">Name</label>
    </div>
    <div class="user-box">
      <input class="form-input" type="text" id="email-signup" name="" required=""/>
      <label for="email-signup">Email</label>
    </div>
      <div class="user-box">
        <input class="form-input" type="password" id="password-signup" name="" required=""/>
        <label for="password-signup">Password</label>
      </div>
            
      <a class="btn_signup_form" type="submit" href="/login">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Signup
      </a>
  </form>
</div> 

<script src="./js/signup.js"></script>
