<div class="signup-box">
  <h2>Signup</h2>
  <form class="signup-form">
    <div class="user-box">
      <input
        class="form-input"
        type="text"
        id="first-name-signup"
        name=""
        required=""
      />
      <label for="name-signup">First name</label>
    </div>
    <div class="user-box">
      <input
        class="form-input"
        type="text"
        id="last-name-signup"
        name=""
        required=""
      />
      <label for="name-signup">Last name</label>
    </div>
    <div class="user-box">
      <input
        class="form-input"
        type="email"
        id="email-signup"
        name=""
        required=""
      />
      <label for="email-signup">Email</label>
    </div>
    <div class="user-box">
      <input
        class="form-input"
        type="password"
        id="password-signup"
        name=""
        required=""
      />
      <label for="password-signup">Password</label>
    </div>

    <a class="btn_signup_form" href="#">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Signup
    </a>
  </form>
</div>
<div class="guide">
  <h2>User Guide</h2>
  <p>Whether you are a veteran of the game or just learning how to create a DnD
    character, our character builder tool and digital character sheets make it
    easier than ever to play the game!
  </p>
</div>

<script src="./js/signup.js"></script>