<link rel="stylesheet" href="/css/update.css" />
<div>
  <div>
    <div class="container mt-5">
      <h3 class="text-center text-7xl character">{{character_name}}</h3>
      <div class="grid grid-cols-3 md:grid-cols-6 gap-3 place-items-center" id="attribute-container">
        {{#each attributes as |attribute|}}
          {{>attribute-frame attribute="attribute"}}
        {{/each}}
      </div>

      <a class="btn_signup" type="submit" id="update-btn">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Update
      </a>
    </div>
  </div>
</div>

<!-- Render script for logged in users only -->
{{!-- {{> attribute-frame}} --}}

<script src="/js/update.js"></script>