<link rel="stylesheet" href="css/update.css" />
<div>
  <div>
    <div class="container">
      <h3>Update {{character_name}}</h3>
      <div class="grid grid-flow-col grid-cols-3 xl:grid-cols-6">
        {{#each attributes as |attribute|}}
          {{>attribute-frame attribute="attribute"}}

        {{/each}}
      </div>

      <a class="btn_signup" type="submit" href="/homepage">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Update
      </a>
    </div>
  </div>
</div>

<!-- Render script for logged in users only -->
{{> attribute-frame}}

<script src="/js/update.js"></script>