input:focus-visible {
  outline: none;
}

.dice {
  transition: 3.5s;
}

/* Styling applied to each dice individually */
.dice-container {
  width: 100%;
  max-width: 150px;
  aspect-ratio: 1 / 1;
}

.translucent {
  opacity: 0.2;
}

button {
  background-image: url(/images/button.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

button.next {
  background-image: url(/images/button-accept.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.emphasize {
  animation: pop;
  animation-duration: 1000ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes pop {
  0% {
    color: black;
    transform: scale(0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  85% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
