button {
  background-image: url(/images/button.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

button:hover {
  background-image: url(/images/button-accept.svg);
}

.attribute-frame {
  background-image: url(/images/border.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.frame {
  background-image: url(/images/button.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 1;
}

a {
  transition: 200ms;
}

a:hover {
  text-shadow: 0 0 20px rgb(6, 174, 3);
}
