html {
    height: 100%
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

* {
    font-family: sans-serif;
}

.login-box {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 350px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    border-radius: 10px;
}

.login-box h2, .create_new h3 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.btn_submit {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 20px;
    letter-spacing: 4px;
}

.btn_submit:hover {
    background:  #fff;
    color: rgb(10, 11, 21);
    border-radius: 5px;
}

.btn_submit span {
    position: absolute;
    display: block;
}

.btn_submit span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #fff);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,
    100% {
    left: 100%;
    }
}

.btn_submit span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #fff);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s;
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,
    100% {
    top: 100%;
    }
}

.btn_submit span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,  #fff);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s;
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,
    100% {
    right: 100%;
    }
}

.btn_submit span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent,  #fff);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s;
}

    @keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,
    100% {
    bottom: 100%;
    }
}

.btn_signup {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    right: -50px;
    color:  #fff;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 20px;
    letter-spacing: 4px;
    
}

.btn_signup:hover {
    background: #fff;
    color: rgb(10, 11, 21);
    border-radius: 5px;
}

.btn_signup span {
    position: absolute;
    display: block;
}

.btn_signup span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #fff);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,
    100% {
    left: 100%;
    }
}

.btn_signup span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent,  #fff);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s;
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,
    100% {
    top: 100%;
    }
}

.btn_signup span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,  #fff);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s;
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,
    100% {
    right: 100%;
    }
}

.btn_signup span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #fff);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s;
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,
    100% {
    bottom: 100%;
    }
}

.guide {
    position: absolute;
    top: 85%;
    left: 50%;
    width: 100vw;
    padding: 30px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    
}

.guide h2, .guide p {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.header_dnd {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 100vw;
    padding: 10px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    
}

.header_dnd h2 {
    margin: 0 0 0px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.signup-box {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 350px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    border-radius: 10px;
}

.signup-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.signup-box .user-box {
    position: relative;
}

.signup-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.signup-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.signup-box .user-box input:focus~label,
.signup-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.btn_signup_form {
    position: relative;
    display: inline-block;
    padding: 10px 50px;
    right: -50px;
    color:  #fff;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 20px;
    letter-spacing: 4px;
    
}

.btn_signup_form:hover {
    background: #fff;
    color: rgb(10, 11, 21);
    border-radius: 5px;
}

.btn_signup_form span {
    position: absolute;
    display: block;
}

.btn_signup_form span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #fff);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,
    100% {
    left: 100%;
    }
}

.btn_signup_form span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent,  #fff);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s;
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,
    100% {
    top: 100%;
    }
}

.btn_signup_form span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,  #fff);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s;
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,
    100% {
    right: 100%;
    }
}

.btn_signup_form span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #fff);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s;
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,
    100% {
    bottom: 100%;
    }
}



/*
*/

.new-character-form {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    border-radius: 10px;
}

.new-character-form .user-box {
    position: relative;
}

.new-character-form .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    text-decoration: none;
}

.new-character-form .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.new-character-form .user-box select {
    width: 100%;
    padding: 12px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.new-character-form .user-box select:focus~label,
.new-character-form .user-box select:valid~label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}



.new-character-form .user-box input:focus~label,
.new-character-form .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}


.btn_create, .btn_create1, .btn_create2, .btn_generate {
    position: relative;
    display: inline-block;
    padding: 10px 50px;
    flex: auto;
    color:  #fff;
    background-color: transparent;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 20px;
    letter-spacing: 4px;
    border: none;
    
}

.btn_create:hover, .btn_create1:hover, .btn_create2:hover, .btn_generate:hover {
    background: #fff;
    color: rgb(10, 11, 21);
    border-radius: 5px;
}

.btn_create span, .btn_create1 span, .btn_create2 span, .btn_generate span {
    position: absolute;
    display: block;
}

.btn_create span:nth-child(1), .btn_create1 span:nth-child(1), .btn_create2 span:nth-child(1), .btn_generate span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #fff);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,
    100% {
    left: 100%;
    }
}

.btn_create span:nth-child(2), .btn_create1 span:nth-child(2), .btn_create2 span:nth-child(2), .btn_generate span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent,  #fff);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s;
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,
    100% {
    top: 100%;
    }
}

.btn_create span:nth-child(3), .btn_create1 span:nth-child(3), .btn_create2 span:nth-child(3), .btn_generate span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,  #fff);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s;
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,
    100% {
    right: 100%;
    }
}

.btn_create span:nth-child(4), .btn_create1 span:nth-child(4), .btn_create2 span:nth-child(4), .btn_generate span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #fff);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s;
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,
    100% {
    bottom: 100%;
    }
}

.hidden {
    position: absolute; left: -99999rem
}

/* update character */
.update-character-form {
    position: absolute;
    top: 550px;
    left: 50%;
    width: 350px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    border-radius: 10px;
}

.update-character-form .user-box {
    position: relative;
}

.update-character-form .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    text-decoration: none;
}

.update-character-form .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.update-character-form .user-box select {
    width: 100%;
    padding: 12px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.update-character-form .user-box select:focus~label,
.update-character-form .user-box select:valid~label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}



.update-character-form .user-box input:focus~label,
.update-character-form .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}