html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
}

.attribute-frame {
  background-image: url(/images/border.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-family: fantasy;
}

.character {
  font-family: fantasy;
}
