.attribute-frame {
  background-image: url(/images/border.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

input:not(:read-only) {
  outline: rgb(0, 0, 0) solid 2px;
}

input:not([type="file"]):read-only {
  pointer-events: none;
  user-select: text;
}

input[type="file"] {
  display: none;
}

.ghost {
  opacity: 0;
}
